body,html{
    height: 100%;
    width: 100%;
}

.content{
    display: none;
}
.loader{
    height: 100vh;
    width: 100vw;
    z-index: 51;
    overflow: hidden;
    background-color: #2c2f33;
    position: absolute;
}
.loader>div{
    height: 150px;
    width: 150px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center ;
}

/* .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  } */

 /* Chasing Circles spinner */
 .spinner svg{
  max-width: 300px;
  width: 100%;
  height: 300px;
  stroke-linecap: round;
 }
 .spinner circle{
  transform-origin: center;
  fill: none;
  stroke-width: 5px;
 }
 .spinner circle:nth-child(1){
  stroke: #00fffb;
  stroke-dasharray:20;
  animation: chasingcircle 4s linear infinite;
 }
 .spinner circle:nth-child(2){
  stroke: #00005C;
  stroke-dasharray:12;
  stroke-width: 8px;
  animation: chasingcircle1 1s linear infinite;
 }
 .spinner circle:nth-child(3){
  stroke: rgb(25, 213, 213);
  stroke-dasharray:36px;
  animation: chasingcircle 2s linear infinite;
 }
 .spinner circle:nth-child(4){
  stroke: rgb(25, 213, 213);
  stroke-dasharray:26px;
  animation: chasingcircle1 3s linear infinite;
 }
 .spinner circle:nth-child(5){
  stroke: rgb(25, 213, 213);
  stroke-dasharray:16px;
  animation: chasingcircle 2s linear infinite;
 }
 .spinner circle:nth-child(6){
  fill: #33C3F7;
  animation: chasingcircle1 1s linear infinite;
 }
 @keyframes chasingcircle{
  to{
    transform: rotate(360deg);
  }
 }
 @keyframes chasingcircle1{
  to{
    transform: rotate(-360deg);
  }
 }