@font-face{
	font-family: 'Lexend';
	src: url('http://192.168.34.202/site/public/ttf/Lexend-SemiBold.ttf') format('truetype'),
		url('http://192.168.34.202/site/public/ttf/Lexend-Black.ttf') format('truetype'),
		url('http://192.168.34.202/site/public/ttf/Lexend-Regular.ttf') format('truetype'),
		url('http://192.168.34.202/site/public/ttf/Lexend-ExtraBold.ttf') format('truetype'),
		url('http://192.168.34.202/site/public/ttf/Lexend-Bold.ttf') format('truetype'),
		url('http://192.168.34.202/site/public/ttf/Lexend-Medium.ttf') format('truetype'),
		url('http://192.168.34.202/site/public/ttf/Lexend-Thin.ttf') format('truetype'),
		url('http://192.168.34.202/site/public/ttf/Lexend-Light.ttf') format('truetype'),
		url('http://192.168.34.202/site/public/ttf/Lexend-ExtraLight.ttf') format('truetype');
}
.font-family-lexend {
    font-family: 'Lexend';
}

.bg-sidebar {
    background: #3d68ff;
}

.cta-btn {
    color: #3d68ff;
}

.upgrade-btn {
    background: #1947ee;
}

.upgrade-btn:hover {
    background: #0038fd;
}

.active-nav-link { 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
    background-image: linear-gradient(150deg, #4b5d82, #2f3a4f); 
    pointer-events: none;
}

.nav-item:hover { 
    background: #373b40; 
}

.nav-item:hover {
    background: #4b5563;
}

.account-link:hover {
    background: #3d68ff;
}

.box {
    box-shadow: rgba(0, 0, 0, 1) 0px 1px 3px, rgba(0, 0, 0, 1) 0px 1px 2px;
    padding: 25px 25px;
    border-radius: 5px;
    background-color: #2c2f33;
}

.top-nav {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


/* Animations */
.scale-out-hor-left {
	-webkit-animation: scale-out-hor-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: scale-out-hor-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes scale-out-hor-left {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      opacity: 1;
    }
}
@keyframes scale-out-hor-left {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      opacity: 1;
    }
}

.scale-in-hor-left {
    -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
        opacity: 1;
    }
}
@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
        opacity: 1;
    }
}